
@import "./modules/_globals";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #E5E5E5;
}

#myVideo {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 100%; 
    min-height: 50%;
  }

  .model-content {
    position: relative;
    bottom: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);    color: #f1f1f1;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 50px;

    
  }





  .model-content__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;


    .model-content__img{
        min-width: 50%;
        img{
        width: 100%;
    }
    }

    
    .model-content__info{

        
        text-align: center;
        font-size: 2rem;
 
  
        .valoration{
            display: flex;
            justify-content: space-evenly;

            font-size: 1rem;
             margin: 20px 0;

    
            .star-icon{
                display: inline-block;
                background-image: url('/assets/icons/star-icon.svg') ;
                background-size: cover;
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
    
            }
    
        }

        p{
            font-size: 1.2rem;
            font-family: 'Raleway', sans-serif;
            line-height: 2rem;
            margin: 20px 0;

        }

        ol{
            font-size: 1rem;
            display: flex;
            justify-content: space-around;
            list-style: none;
            font-family: 'Raleway', sans-serif;
            

        }

    }

    
  }




  @media screen and (min-width: 992px) {
    #myVideo {
        position: fixed;
        min-height: 100%;
        bottom: 0;
      }
      .model-content {
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .model-content__container{
        display: flex;
        flex-direction: row-reverse;


        .model-content__info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
            p{
             text-align: left;
             min-width: 50%;
            }
     
            ol{
             width: 50%;
             left: 50px;
     
             }
     
         }

      }


  }


