* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw - 2rem);
  min-height: 100vh;
  background-color: #e5e5e5;
  margin: 1rem;
}

nav {
  display: flex;
}

#logo {
  width: 70px;
  height: 25px;
}

#menu-primary {
  visibility: hidden;
}

main {
  position: relative;
  text-align: center;
  width: 90vw;
  height: 90vh;
}

nav,
#slogan,
h1,
.section,
main img {
  position: static;
}

#slogan {
  width: 176px;
  height: 19px;
  left: 71.55px;
  top: 139px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  color: #858585;
}

h1 {
  width: 288px;
  height: 62px;
  left: 15.55px;
  top: 176px;
  font-family: Abril Fatface;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0.05em;
  color: #000000;
}

.section a {
  width: 129px;
  height: 32px;
  border: 1px solid #000000;
  border-radius: 8px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.05em;
  display: flex;
  text-align: center;
  align-items: center;
  color: #000000;
  text-decoration: none;
}

.section.cursos {
  left: 22.55px;
  top: 270px;
}

.section.pianos {
  left: 167.55px;
  top: 270px;
}

.section.cursos a:active {
  background-color: #000000;
  color: white;
}

#piano-negro {
  width: 251.69px;
  height: 194px;
  left: 33.55px;
  top: 358px;
  filter: drop-shadow(-9.40088px 8.11894px 27.348px rgba(0, 0, 0, 0.38));
}

button,
.btn {
  border-radius: 8px;
  display: inline-block;
  height: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  padding: 10px 20px;
}

button.active {
  background-color: #000000;
  color: #ffffff;
}

@media screen and (min-width: 980px) {
  #menu-primary li {
    padding: 10px;
    list-style: none;
  }
}
/*    font-family: 'Abril Fatface', cursive;

    font-family: 'Poppins', sans-serif;

    font-family: 'Raleway', sans-serif;*/
/*Section pianos*/
#section__piano-types {
  transition: all 0.3s;
  display: flex;
  min-height: 100vh;
  width: 80vw;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  gap: 15px;
}
#section__piano-types:first-of-type {
  min-width: 80vw;
}
#section__piano-types:first-of-type h2.subtitle {
  text-align: center;
  min-width: 100%;
  font-family: "Abril Fatface", cursive;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 2rem;
}
#section__piano-types div.card-piano {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  background-color: #ffffff;
  padding-bottom: 1.2rem;
  margin-bottom: 3rem;
  border-radius: 8px;
  box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
}
#section__piano-types div.card-piano div.piano-img {
  width: 76vw;
  height: 80vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
  border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
}
#section__piano-types div.card-piano div.piano-img.piano-img__1 {
  background-image: url(../img/pianoCard1.svg);
}
#section__piano-types div.card-piano div.piano-img.piano-img__2 {
  background-image: url(../img/pianoCard2.svg);
}
#section__piano-types div.card-piano div.piano-img.piano-img__3 {
  background-image: url(../img/pianoCard3.svg);
}
#section__piano-types div.card-piano div.card-information {
  padding: 0 1.2rem;
}
#section__piano-types div.card-piano div.card-information p.regular-paragraph {
  font-size: 1.8rem;
  font-weight: 700;
}
#section__piano-types div.card-piano div.card-information ul {
  padding: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#section__piano-types div.card-piano div.card-information ul li {
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
#section__piano-types div.card-piano div.card-information ul li:first-of-type {
  list-style: none;
}
#section__piano-types div.card-piano div.card-buttons {
  display: flex;
  justify-content: space-evenly;
}
#section__piano-types div.card-piano div.card-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  height: 2.7rem !important;
  width: calc(80% - 2rem);
}
#section__piano-types div.card-piano div.card-buttons button:last-of-type {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #fff;
  width: 2.7rem;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/addCart.svg);
}
#section__piano-types div.card-piano div.card-buttons button:last-of-type:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
#section__piano-types:last-of-type a {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  height: 2.7rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
  width: 50vw;
}
#section__piano-types:last-of-type a:hover {
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  #section__piano-types:first-of-type h2.subtitle {
    margin-bottom: 2rem;
    width: 30vw;
    margin-bottom: 5rem;
  }
  #section__piano-types .cards {
    display: flex;
    flex-flow: row;
    width: calc(100vw - 2rem);
    justify-content: space-evenly;
  }
  #section__piano-types .cards .card-piano {
    width: calc(250px + 3rem);
    height: auto;
    font-size: 3rem;
  }
  #section__piano-types .cards .card-piano .piano-img {
    width: 205px;
    height: 205px;
    align-self: center;
  }
  #section__piano-types:last-of-type a {
    margin-top: 5rem;
    width: 8.2rem;
  }
}

/*Section pianos*/
/*Section partners*/
#section__partners {
  transition: all 0.3s linear infinite;
  position: relative;
  background: linear-gradient(177.96deg, #6F6F6F 1.72%, rgba(255, 255, 255, 0.43) 98.63%);
  min-height: 90vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#section__partners .subtitle {
  text-align: center;
  width: 80vw;
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}
#section__partners .partners__row {
  display: flex;
  position: relative;
  width: calc(100vw - 2rem);
  overflow: scroll;
  scroll-behavior: auto;
}
#section__partners .partners__row::-webkit-scrollbar {
  display: none;
}
#section__partners .partners__row a.partner {
  background-color: #000000;
  font-size: 2rem;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px 89px 89px 15px;
  min-width: 90vw;
  height: auto;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 0;
  margin-right: 1rem;
}
#section__partners .partners__row a.partner p {
  width: 60%;
  margin: auto;
}
#section__partners .partners__row a.partner i {
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 7rem;
  height: 7rem;
  display: inline-block;
}
#section__partners .partners__row a.partner.partner--reversed {
  flex-direction: row-reverse;
  border-radius: 89px 15px 15px 89px;
  align-self: flex-start;
  margin-right: 0;
  margin-left: 1rem;
}
#section__partners .partners__row a.partner.partner--bordered {
  flex-direction: row-reverse;
  border-radius: 89px;
  margin: 0 1rem;
}
@media screen and (min-width: 992px) {
  #section__partners {
    min-height: 100vh;
  }
  #section__partners .partners__row {
    width: calc(100vw - 2rem);
    -webkit-animation: partnersAnimation 2s linear infinite;
            animation: partnersAnimation 2s linear infinite;
  }
  #section__partners .partners__row a.partner {
    min-width: 330px;
    min-height: 104px;
    margin: 0;
  }
  #section__partners .partners__row.partners__row-1 {
    justify-content: space-evenly;
  }
  #section__partners .partners__row.partners__row-2 {
    justify-content: space-between;
    width: 110vw;
  }
  #section__partners .partners__row.partners__row-3 {
    justify-content: space-evenly;
  }
  @-webkit-keyframes partnersAnimation {
    50% {
      justify-content: center;
    }
  }
  @keyframes partnersAnimation {
    50% {
      justify-content: center;
    }
  }
}

/*Section partners*//*# sourceMappingURL=main.css.map */