/*Colors*/
/*Fonts*/
/*FontStyles*/
/*GLOBAL BTN*/
a.partner {
  background-color: #000000;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  color: #ffffff;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px 89px 89px 15px;
  width: 288px;
  padding: 5px;
}
a.partner p {
  width: 60%;
  margin: auto;
}
a.partner i {
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 88.98px;
  height: 88.98px;
  display: inline-block;
}
a.partner.partner--reversed {
  flex-direction: row-reverse;
  border-radius: 89px 15px 15px 89px;
}
a.partner:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

/*Global btn*/
button {
  border-radius: 8px;
  background-color: #000000;
  color: #ffffff;
  display: inline-block;
  height: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  padding: 10px 20px;
}
button.btn-secondary {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #E5E5E5;
}

header,
nav {
  display: flex;
}

#logo {
  width: 70px;
  height: 25px;
}

#menu-primary {
  visibility: hidden;
}

#slogan,
h1,
.section,
main img,
#piano-negro,
footer {
  position: absolute;
}

#slogan {
  width: 176px;
  height: 19px;
  left: 71.55px;
  top: 139px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.78px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #858585;
}

h1 {
  width: 288px;
  height: 62px;
  left: 15.55px;
  top: 176px;
  font-family: Abril Fatface;
  font-size: 32px;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0.05em;
  align-items: center;
  text-align: center;
  color: #000000;
}

.section.cursos {
  width: 274px;
  height: 32px;
  left: 22.55px;
  top: 270px;
}

.section.pianos {
  width: 274px;
  height: 32px;
  left: 167.55px;
  top: 270px;
}

#piano-negro {
  width: 251.69px;
  height: 194px;
  left: 33.55px;
  top: 358px;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-9.40088px 8.11894px 27.348px rgba(0, 0, 0, 0.38));
}

footer {
  width: 100%;
  height: auto;
  top: 4160px;
  background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
  margin: 0 1rem;
}

#logo-footer {
  display: block;
  width: 133px;
  height: 116px;
  margin-left: auto;
  margin-right: auto;
}

footer span {
  display: inline-block;
  width: 140px;
  height: 32px;
  text-align: center;
  margin-top: 40px;
}
footer span img {
  margin: 0 10px;
}

.footer-columns {
  margin: 1rem;
}

.footer-columns h4 {
  font-family: "Abril Fatface", cursive;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  margin-bottom: 1rem;
}

.footer-columns li {
  list-style: none;
}
.footer-columns li a {
  text-decoration: none;
  color: #000000;
}

.footer-columns p,
.footer-columns li {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

#copyright {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  margin-top: 10rem;
  text-align: center;
}

@media screen and (min-width: 992px) {
  #logo {
    width: 88px;
    height: 44px;
    left: 32px;
    top: 32px;
  }
  ul {
    display: flex;
    vertical-align: middle;
  }
  ul#menu-primary {
    visibility: visible;
  }
  ul#menu-primary li {
    padding: 10px;
    list-style: none;
  }
  ul#menu-primary li a {
    text-decoration: none;
    color: #000000;
  }
  #slogan {
    left: 392px;
    top: 142px;
  }
  h1 {
    width: 494px;
    height: 62px;
    left: 233px;
    top: 179px;
    font-size: 56px;
    line-height: 76px;
  }
  .section.cursos {
    width: 274px;
    height: 32px;
    left: 343px;
    top: 273px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #piano-negro {
    position: absolute;
    width: 589px;
    height: 454px;
    left: 210px;
    top: 383px;
    filter: drop-shadow(-22px 19px 64px rgba(0, 0, 0, 0.38));
  }
  .footer-columns {
    display: inline-block;
    width: 30%;
  }
  .footer-columns#left {
    text-align: center;
  }
  .footer-columns ul {
    display: block;
  }
  .footer-columns h4,
.footer-columns p,
.footer-columns li {
    font-size: 14px;
    line-height: 21px;
    text-align: justify;
  }
  #copyright {
    font-size: 14px;
    line-height: 16px;
  }
}/*# sourceMappingURL=main.css.map */