@import "./modules/_globals";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  margin: 0;
  &::-webkit-scrollbar {
    display: none;
  }
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
    width: calc(100vw - 3rem);
    padding: 0 20px;
    background-color: #FFFFFF;

}

#logo {
    display: flex;
    flex-direction: row;
}

#shop {
    display: flex;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
}

#menu-primary {
    display: flex;
    flex-direction: row;
    li, button{
      display: none;
    }
    
    a {
        visibility: visible;
    }
}

.slogan {
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;

    p {
        font-family: 'Raleway', sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 18.78px;
        color: #858585;
    }
}

.slogan span {
    margin-right: 1rem;
}

h1 {
    font-family: Abril Fatface;
    font-size: 32px;
    font-weight: 400;
    line-height: 43px;
    text-align: center;
    color: #000000;
    margin: 1.5rem 0;
}

#piano-negro {
    width: 100%;
    margin-top: 5rem;
    text-align: center;
    filter: drop-shadow(-9.40088px 8.11894px 27.348px rgba(0, 0, 0, 0.38));
    img{
       width: 100%;
    }
}

.redes {
    display: block;
    margin: 5px 0;
    border: 1px solid $colorBlack;
    border-radius: 50px;
    padding: 20px;
}

footer {
    width: 100%;
    top: 4160px;
    background: linear-gradient(177.96deg, rgba(255, 255, 255, 0.43) 1.72%, #6F6F6F 107.44%);
}

#logo-footer {
    display: block;
    width: 133px;
    height: 116px;
    margin-left: auto;
    margin-right: auto;
}

.redes-footer {
    display: flex;
    margin-top: 40px;
    justify-content: center;

    img {
        border: 1px solid $colorBlack;
        border-radius: 22px;
        padding: 10px;
        margin: 0 5px;
    }
}

.footer-columns {
    margin: 1rem;
}

.footer-columns h4 {
    font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin-bottom: 1rem;
}

.footer-columns li {
    list-style: none;

    a {
        text-decoration: none;
        color: $colorBlack;
    }
}

.footer-columns p,
.footer-columns li {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
}

#copyright {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10rem;
    text-align: center;
    margin-bottom: 2rem;
}

.container{
  position: relative;
}

#myVideo {
    position: absolute;
    right: 0;
    top: 0;
    min-height: 50%;
  }


  .model-content {
    position: relative;
    bottom: 0;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(0, 0, 0, 0.75) 37.19%, rgba(0, 0, 0, 0.75) 76.04%, #FFFFFF 100%);    color: #f1f1f1;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    padding: 50px;

    
  }





  .model-content__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100%;


    .model-content__img{
        min-width: 50%;
        img{
        width: 100%;
    }
    }

    
    .model-content__info{

        
        text-align: center;
        font-size: 2rem;
 
  
        .valoration{
            display: flex;
            justify-content: space-evenly;

            font-size: 1rem;
             margin: 20px 0;

    
            .star-icon{
                display: inline-block;
                background-image: url('/assets/icons/star-icon.svg') ;
                background-size: cover;
                background-repeat: no-repeat;
                width: 15px;
                height: 15px;
    
            }
    
        }

        p{
            font-size: 1.2rem;
            font-family: 'Raleway', sans-serif;
            line-height: 2rem;
            margin: 20px 0;

        }

        ol{
            font-size: 1rem;
            display: flex;
            justify-content: space-around;
            list-style: none;
            font-family: 'Raleway', sans-serif;
            

        }

    }

    
  }
    /*form*/
.form-container {
    width: 100%;
    height: 870px;
    left: 0px;
    top: 2742px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.35) 100%), url("../assets/images/bg-piane.jpeg") no-repeat;
    background-size: cover;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 5%;
    gap: 5%;
  
  h2{
      font-family: 'Abril Fatface';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: 0.05em;
  }
  
    p{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.05em;
    }
    
    input{
      background: rgba(0, 0, 0, 0.65);
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      width: 100%;
      height: 36px;
      
  
     }
     textarea{
      background: rgba(0, 0, 0, 0.65);
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      width: 100%;
      height: 148px;
      
     }
  
     label{
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      letter-spacing: 0.05em;
      margin-top: 5%;
      
     }
    
     button{
      width: 100%;
      height: 32px;
      color: #ffffff;
      background: #000000;
      border-radius: 8px;
      margin-top: 5%;
     
    }
  
     button:hover {
      background-color: rgba(0, 0, 0, 0.75);
  }
  }




  @media screen and (min-width: 992px) {
 
      #logo {
        width: 88px;
        max-height: 44px;
        flex-grow: 1;
    }

    #menu-primary {
        visibility: visible;
        display: flex;
        flex-direction: row;


        li, button {
            display: block;
            padding: 10px;
            list-style: none;
            

            a {
                display: block;
                font-family: 'Raleway';
                font-weight: 600;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.05em;
                text-decoration: none;
                color: $colorBlack;
            }
        }
    }

    ul {
        flex-grow: 8;
        justify-content: flex-end;
    }

    #shop {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
    }

    h1 {
        font-size: 56px;
        line-height: 76px;
    }

    #piano-negro img {
        width: 589px;
        height: 454px;
    }

    .footer-columns {
        display: inline-block;
        width: 30%;

        &#left {
            text-align: center;
        }
    }

    .footer-columns ul {
        display: block;
    }

    .footer-columns h4,
    .footer-columns p,
    .footer-columns li {
        font-size: 14px;
        line-height: 21px;
        text-align: justify;
    }

    #copyright {
        font-size: 14px;
        line-height: 16px;
    }

    #myVideo {
        min-height: 100%;
        bottom: 0;
      }
      .model-content {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .model-content__container{
        display: flex;
        flex-direction: row-reverse;


        .model-content__info{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            
            p{
             text-align: left;
             min-width: 50%;
            }
     
            ol{
             width: 50%;
             left: 50px;
     
             }
     
         }

      }
      .form-container {
        display: flex;
        height: 854px;
        padding: 10% 20% 5% 20%;

        h2{
            font-size: 32px;
            line-height: 43px;
        }
        
          p{
            font-size: 16px;
            line-height: 19px;
          }

          .row-container{
            display: flex; 
            flex-direction: row;
            gap: 10px;
            padding-top: 5px;
            justify-content: center;

            label{
                padding-left: 0;
            }
          }
          
          .form-columns {
            display: flex;
            flex-direction: column;
            width: 100%;
          }


          input {
            width: 100%;
            height: 36px;
            margin-bottom: 4%;
          }


           textarea{
            width: 100%;
            height: 148px;
           }
        
           label{
            width: fit-content;
            height: 36px;
            margin: 0;
           }
          
           button{
            width: 100%;
            height: 32px;
          }
    }


  }


  
/*Section pianos*/
#section__piano-types {
  transition: all 0.3s;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  gap: 15px;
  background-color: #ffffff;
  &:first-of-type {
    min-width: 80vw;
    h2.subtitle {
      text-align: center;
      min-width: 100%;
      font-family: "Abril Fatface", cursive;
      font-size: 32px;
      margin-bottom: 2rem;
      font-weight: 400;
    }
  }

  div.card-piano {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 1.2rem;
    margin-bottom: 3rem;
    border-radius: 8px;
    box-shadow: 0px 28px 64px 12px rgba(0, 0, 0, 0.12);
    div.piano-img {
      width: 76vw;
      height: 80vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      // margin: 1.2rem;
      border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
      &.piano-img__1 {
        background-image: url(../assets/images/pixlr-bg-result-7.svg);
      }
      &.piano-img__2 {
        background-image: url(../assets/images/pixlr-bg-result-4.svg);
      }
      &.piano-img__3 {
        background-image: url(../assets/images/pixlr-bg-result-8.svg);
      }
    }
    div.card-information {
      // padding: 0 1.2rem;
      p.regular-paragraph {
        font-size: 1.8rem;
        font-weight: 700;
        padding: 1.7rem 0 0.5rem 0;
      }
      ul {
        padding: 1rem 0 1rem 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        li {
          font-size: 1rem;
          font-family: "Raleway", sans-serif;
          &:first-of-type {
            list-style: none;
          }
        }
      }
    }
    div.card-buttons {
      display: flex;
      justify-content: space-between;
      button {
        display: flex;
        align-items: center;
        justify-content:center;
        font-size: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        height: 32px;
        width: calc(90% - 2rem);
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #000000;
        &:last-of-type {
          background-color: #000000;
          color: #ffffff;
          border: 1px solid #fff;
          width: 32px;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(../assets/icons/shopping-cart-white.svg);
          &:hover {
            background-color: rgba(0, 0, 0, 0.7);
            cursor: pointer;
          }
        }
      }
    }
  }

  #lastBtn {
    margin: 0;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      height: 37px;
      background-color: #000000;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      width: 50vw;
      
      &:hover {
        background-color: rgba(0, 0, 0, 0.7);
        cursor: pointer;
      }
    }
  }


  @media screen and (min-width: 992px) {
    min-height: 100vh;
    &:first-of-type {
      h2.subtitle {
        width: 30vw;
        margin-bottom: calc(3rem + 105px);
      }
    }
    .cards {
      display: flex;
      flex-flow: row;
      width: calc(100vw - 2rem);
      justify-content: space-evenly;
      margin: 0;
      .card-piano {
        position: relative;
        width: calc(250px + 1rem);
        margin: 0;
        height: 236px;
        justify-content: flex-end;
        .piano-img {
          position: absolute;
          top: -105px;
          width: calc(205px + 1rem);
          height: 205px;
          align-self: center;
        }
        .card-information {
          p.regular-paragraph {
            margin-top: 20px;
            font-size: 16px;
            font-weight: 700;
            padding: 0;
          }
          li {
            font-size: 12px;
          }
        }
      }
    }
    #lastBtn {
        margin: 0;
      button {
        font-size: 16px;
        width: 8.2rem;
      }
    }
  }
}
/*Section pianos*/

/*Section partners*/
#section__partners {
  background: linear-gradient(177.96deg, #6F6F6F 1.72%, rgba(255, 255, 255, 0.43) 98.63%);
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  .subtitle {
    text-align: center;
    width: 80vw;
    font-family: "Abril Fatface", cursive;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }

  .partners__row {
    display: flex;
    width: calc(100vw - 2rem);
    overflow: scroll;
    scroll-behavior: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    a.partner {
      background-color: #000000;
      font-size: 32px;
      font-family: 'Raleway', sans-serif;
      color: #ffffff;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: space-between;
      border-radius: 15px 89px 89px 15px;
      min-width: 90vw;
      height: auto;
      padding: 5px;
      text-decoration: none;
      text-transform: uppercase;
      margin-left: 0;
      margin-right: 1rem;
      p {
        width: 60%;
        margin: auto;
      }
      i {
        border: 1px solid #ffffff;
        border-radius: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size:auto;
        width: 7rem;
        height: 7rem;
        display: inline-block;
        background-color: gray;
        &.logo__partner-1 {
          background-image: url(../assets/icons/logo-partner-1.svg);
        }
        &.logo__partner-2 {
          background-image: url(../assets/icons/logo-partner-2.svg);
        }
        &.logo__partner-3 {
          background-image: url(../assets/icons/logo-partner-3.svg);
        }
        &.logo__partner-4 {
          background-image: url(../assets/icons/logo-partner-4.svg);
        }
        &.logo__partner-5 {
          background-image: url(../assets/icons/logo-partner-5.png);
          background-size: contain;
        }
        &.logo__partner-6 {
          background-image: url(../assets/icons/logo-partner-6.svg);
        }
        &.logo__partner-7 {
          background-image: url(../assets/icons/logo-partner-7.svg);
        }
      }
      &.partner--reversed {
        flex-direction: row-reverse;
        border-radius: 89px 15px 15px 89px;
        align-self: flex-start;
        margin-right: 0;
        margin-left: 1rem;
      }
      &.partner--bordered {
        flex-direction: row-reverse;
        border-radius: 89px;
        margin: 0 1rem;
      }
    }
  }
  @media  screen and (min-width: 992px) {
    .partners__row {
      width: calc(100vw - 2rem);
      a.partner {
        min-width: 330px;
        min-height: 104px;
        margin: 0;
      }

      &.partners__row-1 {
        justify-content: space-evenly;
        animation: partnersAnimationRow1-3 4s linear infinite;
      }
      &.partners__row-2 {
        justify-content: space-between;
        position: relative;
        width: 110vw;
        animation: partnersAnimationRow2 5s linear infinite;
        @keyframes partnersAnimationRow2 {
          50% {
           width: 85vw;
          }
         }
      }
      &.partners__row-3 {
        justify-content: space-evenly;
        animation: partnersAnimationRow1-3 5s linear infinite;
      }
      @keyframes partnersAnimationRow1-3 {
        50% {
          width: 60vw;
        }
      }
    }
  }
}
/*Section partners*/



